@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Roboto+Condensed');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(white, #9e9e9e);
}

.hamburger {
  visibility: hidden;
}

.header {
  background-color: #e5d2c4;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(80, 80, 80, 0.1), 0 1.5px 5px 0 rgba(80, 80, 80, 0.3);
}

.logo img {
  height: 50px;
  display: none;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 15px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.originalPrice, .priceHolder {
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}
.page {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.navigation {
  width: 20%;
}

a:link.sale h2 {
  color: red;
}

.storeName {
  height: 300px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) and (max-width: 1024px)  {

  .hamburger {
    visibility: visible;
  }

  .header {
    display: flex;
  }

  .page {
    width: 100%;
    /*margin-left: 0;*/
    display: flex;
    margin: auto;
    flex-direction: column;
  }

  .navigation {
    display: none;
  }
  .logo img {
    display: inline;
  }
}

@media (max-width: 600px)  {

  .hamburger {
    visibility: visible;
  }

  .header {
    display: flex;
  }
  .page {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  .navigation {
    display: none;
  }
  .logo img {
    display: inline;
  }
}
