
.cartButton {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: black;
  color: #e5d2c4;
  font-size: 18px;
  height: 40px;
  width: 150px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cartButton i {
  font-size: 24px;
}

.cartList {
  background-color: #e5d2c4;
  position: absolute;
  top: 60px;
  right: 0px;
  margin-left: 0;
  padding: 0;
  right: -300px;
  width: 300px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: right 0.2s ease-in;
}

.cartBox {
  display: none;
}

.cartBox:checked ~ .cartList {
  display: flex;
  color: black;
  right: 0;
}

.cartButton:hover {
  background-color: white;
}

.checkOutButtonContainer {
  text-align: center;
  background-color: #e5d2c4;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom-left-radius: 50px;
}
.checkOutButton {
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: black;
  color: #e5d2c4;
  padding-top: 6px;
  font-size: 18px;
  height: 30px;
  width: 150px;
}

.miniImage {
  height: 50px;
  width: 50px;
  display: inline;
}

.cartInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

.cartInfo h1 {
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.productCart {
  /*border-bottom: 1px solid black;*/
}
