.oneProductPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 15%;
}

.oneProductPage .productImage {
  width: 55%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

.oneProductPage .productInfo {
  width: 40%;
}

.productPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productHeader {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  background-color: #e5d2c4;
  padding: 1% 0;
  margin-bottom: 5px;
}

.oneProduct {
  background-color: white;
  width: 28%;
  margin: 1% 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid #cacaca;*/
}

.oneProduct:last-child {
  margin-right: 33.8%;
}

.productTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-navigation, .product-name, .name2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin: 10px;
  margin-left: 0;
}

.product-name {
  text-align: center;
}

.imageHolder {
  width: 100%;
  height: 200px;
  align-self: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
}

.description {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
}


.priceHolder {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price h5 {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.button {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: #e5d2c4;
  font-size: 15px;
  width: 60px;
  height: 30px;
  /*border-radius: 15px;*/
  border: 0;
}

.button:hover {
  background-color: #ffeb3b;
}

.deliveryTime {
  text-align: center;
  color: gray;
  font-size: 14px;
  margin: 0;
}

.productList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*.oneProduct:hover .description {
  display: block;
  z-index: 3;
}

.oneProduct:hover .name {
  display: none;
}

.oneProduct:hover .list {
  display: none;
}

.oneProduct:hover .imageHolder {
display: none;
}*/
@media (min-width: 600px) and (max-width: 1024px)  {
  .oneProductPage {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100vh;
    margin: 10% auto;
  }

  .productPage {
    width: 100%;
  }

  .productList {
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }

  .oneProduct {
    width: 44%;
    margin-left: 0;
    margin-right: 0;
  }
  .imageHolder {
    width: 100%;
    height: 300px;
  }

  .product-name {
    text-align: center;
    font-size: 24px;
  }
  .oneProduct:last-child {
    margin-right: 0;
  }
}

@media (max-width: 600px)  {
  .oneProductPage {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    min-height: 100vh;
    margin: 6%;
  }

  .oneProductPage .productImage {
    width: 100%;
    height: 63vw;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .oneProductPage .productInfo {
    width: 100%;
  }

  .productPage {
    width: 100%;
  }
  .productList {
    width: 100%;
    justify-content: center;
  }
  .oneProduct {
    width: 90%;
  }
  .imageHolder {
    width: 100%;
    height: 150px;
  }
  .imageHolder {
    width: 100%;
    height: 300px;
  }
  .product-name {
    text-align: center;
    font-size: 30px;
  }
  .oneProduct:last-child {
    margin-right: 0;
  }
}
